* {
    background-color: rgb(27, 173, 195);
}

header {
    font-size: 25px;
    color: yellow;
}

h1 {
    font-size: 15px;
}

nav {
    flex-direction: row;
}

.main {
    font-size: 15px;
    color: white;
    margin-right: 20%;
    margin-left: 0%;
    text-align: right;
    
}


